<!-- buttons for location -->
<div class="container text-center mt-3">
  <div class="row align-items-start">
    <div class="col ms-5">
      <img src="../../assets/buttons/houseGreen.svg" alt="">
    </div>
    <div class="col me-5">
      <img src="../../assets/buttons/sunDark.svg" alt="">
    </div>
  </div>
</div>

<!-- name of shown activity -->
<div class="container text-center mt-2">
  <div class="row">
    <div class="col">
      <h2>Bowling</h2>
    </div>
  </div>
</div>

<!-- show activitycard -->
<app-activity></app-activity>

<!-- buttons for decision -->
<div class="container text-center mt-4">
  <div class="row align-items-start">
    <div class="col ms-5">
      <img src="../../assets/buttons/agree.svg" alt="">
    </div>
    <div class="col">
      <img src="../../assets/buttons/fav.svg" alt="">
    </div>
    <div class="col me-5">
      <img src="../../assets/buttons/nope.svg" alt="">
    </div>
  </div>
</div>

