<div class="container text-center mt-5">

  <div>
    <!-- login form needs to be updated with correct css! -->
    <form [formGroup]="loginForm" (ngSubmit)="login()" class="box">
      <div class="field">
        <label class="label">Username:</label>
        <div class="control">
          <input class="input" type="text" [formControlName]="'username'" placeholder="Username">
        </div>
      </div>
      <div class="field">
        <label class="label">Password:</label>
        <div class="control input-wrapper">
          <input #passwordInput class="input" type="password" [formControlName]="'password'" placeholder="Password">
          <span class="icon is-small input-icon" (click)="togglePasswordVisibility(passwordInput)">
      <i class="fas" [ngClass]="{'fa-eye-slash': passwordInput.type === 'password', 'fa-eye': passwordInput.type === 'text'}"></i>
    </span>
        </div>
      </div>


      <div class="field is-grouped">
        <div class="control">
          <button class="button is-primary" type="submit" [disabled]="loginForm.invalid">Login</button>
        </div>
      </div>
    </form>
  </div>


  <!-- login form needs to be implemented here! -->
  <div>
    <h3>Username:</h3>
    <div class="row g-3 align-items-center">
      <div class="col-auto">
        <input type="text" class="form-control username-box">
      </div>
    </div>
  </div>

  <div class="mt-4">
    <h3>Password:</h3>
    <div class="row g-3 align-items-center">
      <div class="col-auto">
        <input type="password" class="form-control password-box">
      </div>
    </div>
  </div>


  <div class="container text-center mt-3">
    <button type="button" class="btn btn-primary" data-bs-target="#exampleModal">
      Login
    </button>
  </div>

  <app-sign-up></app-sign-up>

</div>
